@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

body {

    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}